body {
  margin: 0;
  font-family: "PT Serif", serif;
}

/*OPENING*/
.village {
  fill: #e74c3c;
  /*stroke: #fff;*/
}
.myanmar {
  fill: none;
  stroke: #fff;
}
.myanmar-label {
  fill: #fff;
  font-family: "Open Sans", sans-serif;
  text-anchor: middle;
  font-size: .8em;
  text-shadow: -3px -3px 1px #92ac75, -3px -2px 1px #92ac75, -3px -1px 1px #92ac75, -3px 0px 1px #92ac75, -3px 1px 1px #92ac75, -3px 2px 1px #92ac75, -3px 3px 1px #92ac75, -2px -3px 1px #92ac75, -2px -2px 1px #92ac75, -2px -1px 1px #92ac75, -2px 0px 1px #92ac75, -2px 1px 1px #92ac75, -2px 2px 1px #92ac75, -2px 3px 1px #92ac75, -1px -3px 1px #92ac75, -1px -2px 1px #92ac75, -1px -1px 1px #92ac75, -1px 0px 1px #92ac75, -1px 1px 1px #92ac75, -1px 2px 1px #92ac75, -1px 3px 1px #92ac75, 0px -3px 1px #92ac75, 0px -2px 1px #92ac75, 0px -1px 1px #92ac75, 0px 1px 1px #92ac75, 0px 2px 1px #92ac75, 0px 3px 1px #92ac75, 1px -3px 1px #92ac75, 1px -2px 1px #92ac75, 1px -1px 1px #92ac75, 1px 0px 1px #92ac75, 1px 1px 1px #92ac75, 1px 2px 1px #92ac75, 1px 3px 1px #92ac75, 2px -3px 1px #92ac75, 2px -2px 1px #92ac75, 2px -1px 1px #92ac75, 2px 0px 1px #92ac75, 2px 1px 1px #92ac75, 2px 2px 1px #92ac75, 2px 3px 1px #92ac75, 3px -3px 1px #92ac75, 3px -2px 1px #92ac75, 3px -1px 1px #92ac75, 3px 0px 1px #92ac75, 3px 1px 1px #92ac75, 3px 2px 1px #92ac75, 3px 3px 1px #92ac75;
}

#map-wrapper {
  position: fixed;
  top: 0;
  z-index: -1;
}
#map-wrapper.scrolling {
  position: absolute;
}

#story-wrapper {
	max-width: 450px;
	color: #fff;
	margin-left: 150px;
	text-shadow: -3px -3px 1px #99b3cc, -3px -2px 1px #99b3cc, -3px -1px 1px #99b3cc, -3px 0px 1px #99b3cc, -3px 1px 1px #99b3cc, -3px 2px 1px #99b3cc, -3px 3px 1px #99b3cc, -2px -3px 1px #99b3cc, -2px -2px 1px #99b3cc, -2px -1px 1px #99b3cc, -2px 0px 1px #99b3cc, -2px 1px 1px #99b3cc, -2px 2px 1px #99b3cc, -2px 3px 1px #99b3cc, -1px -3px 1px #99b3cc, -1px -2px 1px #99b3cc, -1px -1px 1px #99b3cc, -1px 0px 1px #99b3cc, -1px 1px 1px #99b3cc, -1px 2px 1px #99b3cc, -1px 3px 1px #99b3cc, 0px -3px 1px #99b3cc, 0px -2px 1px #99b3cc, 0px -1px 1px #99b3cc, 0px 1px 1px #99b3cc, 0px 2px 1px #99b3cc, 0px 3px 1px #99b3cc, 1px -3px 1px #99b3cc, 1px -2px 1px #99b3cc, 1px -1px 1px #99b3cc, 1px 0px 1px #99b3cc, 1px 1px 1px #99b3cc, 1px 2px 1px #99b3cc, 1px 3px 1px #99b3cc, 2px -3px 1px #99b3cc, 2px -2px 1px #99b3cc, 2px -1px 1px #99b3cc, 2px 0px 1px #99b3cc, 2px 1px 1px #99b3cc, 2px 2px 1px #99b3cc, 2px 3px 1px #99b3cc, 3px -3px 1px #99b3cc, 3px -2px 1px #99b3cc, 3px -1px 1px #99b3cc, 3px 0px 1px #99b3cc, 3px 1px 1px #99b3cc, 3px 2px 1px #99b3cc, 3px 3px 1px #99b3cc;
}

#story-wrapper p {
  height: 100vh;
  font-size: 2em;
}

#story-wrapper p:first-of-type {
  margin-top: 30vh;
}
#story-wrapper p:last-of-type {
  margin-bottom: 70vh;
}




/*TIMELINE*/
#timeline-map {
  margin: 0 auto;
  margin-top: 10px;
  display: table;
}
#timeline-map .subunit {
  fill: #fff;
  stroke: #000;
}
#timeline-map .subunit.rakhine-tl {
  stroke: #ccc;
  stroke-dasharray: 2,2;
}
#timeline-map .circle-village {
  stroke: #fff;
  stroke-width: .5px;
}
#timeline-map .place-label {
  font-family: "Open Sans", sans-serif;
  
}
#timeline-map .place-label.country {
  text-transform: uppercase;
  text-anchor: middle;
  fill: #888;
  font-weight: 100;
}
#timeline-map .place-label.state {
  font-size: .8em;
}
#timeline-map .place-label.bay {
  font-style: italic;
  fill: #48a2d7;
}
#timeline-map .timeline-legend {
  position: absolute;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-top: 200px;
  margin-left: 100px;
  text-align: center;
  width: 180px;
}
#timeline-map .timeline-villages {
  font-size: .9em;
}

/*BARCHART*/
#bar-chart {
  margin: 0 auto;
  display: table;
}
#bar-chart .axis {
  font-family: "Open Sans", sans-serif;
}
#bar-chart .bar {
  fill: #e74c3c;
}
#bar-chart .amount {
  font-family: "Open Sans", sans-serif;
  fill: #fff;
  text-anchor: middle;
  font-size: .8em;
}

.chart-title, .chart-source, .chart-subtitle {
  margin: 0 auto;
  display: table;
  width: 100%;
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
}
.chart-title {
  font-weight: bold;
  font-size: 1.1em;
}
.chart-subtitle {
  font-size: .9em;
}
.chart-source {
  margin-top: 10px;
  font-size: .8em;
  color: #888;
}

#main-wrapper {
  position: absolute;
}
.titles-wrapper {
  /*padding-top: 300px;*/
}

.red-color {
  color: #e74c3c;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #story-wrapper {
    margin: 0 auto;
    display: table;
  }


  #bar-chart, .chart-title, .chart-source, .chart-subtitle {
    padding: 0px 10px;
  }
  #bar-chart .amount {
    font-size: .7em;
  }

  #timeline-map .timeline-legend {
    margin-top: 275px;
  }
}

@media only screen and (max-width: 650px) {
  #timeline-map .timeline-legend {
    margin-top: 380px;
    margin-left: 60px
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #story-wrapper {
    padding: 0px 10px;
  }
  #timeline-map .timeline-legend {
    margin-top: 380px;
    margin-left: 20px
  }
}
