body {
  overflow-x: hidden;
  margin-top: 40px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #3a403d;
}

/*NAVBAR*/
.navbar {
	height: 40px;
	min-height: 40px;
	border-radius: 0px;
	border: 0px;
}
.navbar-brand {
	height: 40px;
	padding-top: 10px;
	z-index: 1000
}
.navbar-brand img {
  width: 190px;
}
.navbar-title {
	display: none;
}
.navbar-share {
	padding-top: 5px;
	float: right;
	font-size: 20px;
}
.navbar-share a {
	color: #9d9d9d;
	text-decoration: none;
}
.navbar-share a:hover {
	color: #fff;
}
.navbar-share i {
	margin-left: 15px;
}

/*TITLES*/
.titles-wrapper {
  text-align: center;
  font-family: "PT Serif", serif;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 10px;
}
.titles-wrapper h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 40px;
  line-height: 1.5em;
}
.titles-wrapper h2 {
  margin: 0px;
}
.titles-wrapper h2.byline {
  font-weight: normal;
  font-size: 1em;
}
.titles-wrapper h2.dateline {
  font-weight: normal;
  font-size: 1.1em;
}
.blue-line {
  width: 220px;
  margin: .8em auto;
  border: 2px solid #48a2d7;
}

/*COPY*/
.copy {
  font-family: "PT Serif", serif;
  max-width: 600px;
  margin: 40px auto;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 0 10px;
}
.copy p {
  margin-bottom: 22px;
}

/*RELATED*/
.related-wrapper {
  font-weight: 400;
}
.related-wrapper a {
  cursor: pointer;
}
.related-title {
  margin-top: 20px;
  border-top: 2px solid #3a403d;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.8em;
  font-weight: 900;
}
.related-story-image-wrapper {
  margin-bottom: 5px;
}
.related-story-headline {
  font-size: 1.1em;
}
.related-story-dateline {
  font-size: .9em;
  color: #777;
}

/*FOOTER*/
footer {
  margin-bottom: -30px;
}
.footer-basic-centered {
  background-color: #222;
  color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px 'Open Sans',sans-serif;
  padding: 40px;
  margin-top: 40px;
}
footer a {
  color: #fff!important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*nav*/
  .navbar-share {
    margin-top: -35px;
    padding-top: 0px;
  }

  /*titles*/
  .titles-wrapper {
    padding: 0 5px;
  }
  .titles-wrapper h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 40px;
    line-height: 1.5em;
  }
  .titles-wrapper h2 {
    font-size: 1em;
  }
  .titles-wrapper h2.dateline {
    font-size: 1em;
  }

  /*copy*/
  .copy {
    font-size: 1em;
  }

  /*related*/
  .related-wrapper {
    padding: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /*nav*/
  .navbar-brand img {
    width: 35px;
    margin-left: -5px;
    margin-top: -4px;
  }

  /*related*/
  .related-story {
    margin-bottom: 30px;
    font-size:.7em;
  }

  /*copy*/
  .copy {
    font-size: 1em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
